@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  --bg: #f9f9fb;
  --fg: #1c1c1f;
  --accent: #7c3aed;
  --accent-hover: #6d28d9;
  --accent-bg: #b998f9;
  --accent-bg-hover: #cbb9ff;
  --accent-pink: #ff92c2;
  --muted: #ececf0;
  --border: #dcdce4;
}
  
.dark {
  --bg: #1a1625;
  --fg: #f3f3f6;
  --accent: #b998f9;
  --accent-hover: #cbb9ff;
  --accent-bg: #7c3aed;
  --accent-bg-hover: #6d28d9;
  --accent-pink: #f45c7a;
  --muted: #252030;
  --border: #3e3b4f;
}

/* body {
  background-color: var(--bg);
} */

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-bg;
  }

  h1 {
    @apply text-4xl xl:text-5xl 2xl:text-6xl font-bold
  }

  h2 {
    @apply text-xl md:text-2xl xl:text-3xl
  }

  h3 {
    @apply text-lg xl:text-xl
  }
}
  
@layer components {
  .card-bg {
    @apply bg-muted border-2 border-border;
  }

  .hoverable {
    @apply cursor-pointer text-accent transition-colors duration-200 ease-in-out hover:text-accent-hover;
  }

  .group-hoverable {
    @apply cursor-pointer text-accent transition-colors duration-200 ease-in-out group-hover:text-accent-hover;
  }

  .hoverable-div {
    @apply cursor-pointer bg-accent-bg transition-colors duration-200 ease-in-out hover:bg-accent-bg-hover;
  }

  .wrapper {
    opacity: 0;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  
  .slide-in-left {
    animation-name: slideInLeft;
  }
  
  .slide-in-right {
    animation-name: slideInRight;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-40px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(40px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
